
<h1>Símbolo Mujer</h1>

<!-- <%= image_tag "mujer.jpg"%> -->

<%= link_to "ir a home", "/"%>
<%= link_to "ir a about", "/about"%>

<%= link_to "https://facebook.com", target: "_blank"  do %>
  <%= image_tag "mujer.jpg", class:"symbol-women" %>
<%end%>

<h1>Símbolo Hombre</h1>
<%= link_to "https://laxmasmusica.com", target: "_blank" do %>
  <%= image_tag "hombre.jpg", class: "symbol-men"%>
<% end %>
